In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
randn(3) #Gaussian distribution'a göre sıfırın etrafında random değerler arrayler döndürür

array([ 0.52418369, -1.63666752,  0.58437373])

In [4]:
randn(3,3)

array([[-0.19912683, -0.71602243,  1.43474623],
       [-0.12474797,  0.16254131,  0.41768995],
       [ 1.49788819, -1.40472207,  0.82902027]])

In [8]:
df = pd.DataFrame(data=randn(3,3), index = ["A","B","C"], columns=["Column1", "Column2", "Column3"])

In [10]:
df

    Column1   Column2   Column3
A -0.009552 -0.670974 -0.357153
B  0.094108  0.195409 -1.771460
C  0.313782 -0.305330 -1.214227

In [11]:
df["Column1"]

A   -0.009552
B    0.094108
C    0.313782
Name: Column1, dtype: float64

In [12]:
df["Column2"]

A   -0.670974
B    0.195409
C   -0.305330
Name: Column2, dtype: float64

In [13]:
type(df["Column2"])

pandas.core.series.Series

In [14]:
df.loc["A"] #index değerine göre srgulama işlemini gerçekleştirmiş olacak

Column1   -0.009552
Column2   -0.670974
Column3   -0.357153
Name: A, dtype: float64

In [15]:
type(df.loc["A"])

pandas.core.series.Series

In [16]:
df["Column1"]

A   -0.009552
B    0.094108
C    0.313782
Name: Column1, dtype: float64

In [17]:
df[["Column1","Column3"]]

    Column1   Column3
A -0.009552 -0.357153
B  0.094108 -1.771460
C  0.313782 -1.214227

In [19]:
df["Column4"] = pd.Series(randn(3), ["A","B","C"])

In [20]:
df

    Column1   Column2   Column3   Column4
A -0.009552 -0.670974 -0.357153  1.594305
B  0.094108  0.195409 -1.771460 -0.828938
C  0.313782 -0.305330 -1.214227 -0.891955

In [21]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"]

In [22]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.009552 -0.670974 -0.357153  1.594305 -1.037679
B  0.094108  0.195409 -1.771460 -0.828938 -1.481943
C  0.313782 -0.305330 -1.214227 -0.891955 -1.205774

In [24]:
df.drop("Column5", axis=1)

    Column1   Column2   Column3   Column4
A -0.009552 -0.670974 -0.357153  1.594305
B  0.094108  0.195409 -1.771460 -0.828938
C  0.313782 -0.305330 -1.214227 -0.891955

In [25]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.009552 -0.670974 -0.357153  1.594305 -1.037679
B  0.094108  0.195409 -1.771460 -0.828938 -1.481943
C  0.313782 -0.305330 -1.214227 -0.891955 -1.205774

In [28]:
df.drop("Column5", axis=1,inplace=True) #İNPLACE =TRUE YAPMAZSAN DATABASE'E İŞLEMEZ.

KeyError: "['Column5'] not found in axis"

In [27]:
df

    Column1   Column2   Column3   Column4
A -0.009552 -0.670974 -0.357153  1.594305
B  0.094108  0.195409 -1.771460 -0.828938
C  0.313782 -0.305330 -1.214227 -0.891955

In [29]:
df["Column1"]

A   -0.009552
B    0.094108
C    0.313782
Name: Column1, dtype: float64

In [30]:
df.loc["A"]

Column1   -0.009552
Column2   -0.670974
Column3   -0.357153
Column4    1.594305
Name: A, dtype: float64

In [31]:
df.iloc[0]

Column1   -0.009552
Column2   -0.670974
Column3   -0.357153
Column4    1.594305
Name: A, dtype: float64

In [32]:
df.loc["A", "Column1"]

-0.00955220820382357

In [33]:
df.loc["B", "Column2"]

0.19540921374972706

In [34]:
df.loc[["A", "B"], ["Column1", "Column2"]]

    Column1   Column2
A -0.009552 -0.670974
B  0.094108  0.195409