In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outerIndex = ["Group1", "Group1", "Group1", "Group2", "Group2", "Group2", "Group3", "Group3", "Group3"]

In [3]:
innerIndex = ["Index1", "Index2", "Index3", "Index1", "Index2", "Index3", "Index1", "Index2", "Index3"]

In [5]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [6]:
hierarchy = list(zip(outerIndex, innerIndex))

In [9]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [10]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [14]:
df = pd.DataFrame(randn(9,3), hierarchy, columns = ["Column1", "Column2","Column3"])

In [15]:
df

                Column1   Column2   Column3
Group1 Index1 -0.987581 -0.522661 -0.871246
       Index2  1.902818 -1.650181  1.113948
       Index3 -0.113607  0.773795 -1.707313
Group2 Index1 -0.616003 -1.144931 -1.547340
       Index2  1.436745 -0.268975  0.835511
       Index3  0.765659  1.174398  0.781010
Group3 Index1 -0.060821  2.851500 -0.147617
       Index2  0.078122 -0.391962  0.027317
       Index3  1.794407 -1.624277  0.494795

In [16]:
df["Column1"]

Group1  Index1   -0.987581
        Index2    1.902818
        Index3   -0.113607
Group2  Index1   -0.616003
        Index2    1.436745
        Index3    0.765659
Group3  Index1   -0.060821
        Index2    0.078122
        Index3    1.794407
Name: Column1, dtype: float64

In [17]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1 -0.987581 -0.522661 -0.871246
Index2  1.902818 -1.650181  1.113948
Index3 -0.113607  0.773795 -1.707313

In [18]:
df.loc["Group2"]

         Column1   Column2   Column3
Index1 -0.616003 -1.144931 -1.547340
Index2  1.436745 -0.268975  0.835511
Index3  0.765659  1.174398  0.781010

In [19]:
df.loc[["Group1", "Group2"]]

                Column1   Column2   Column3
Group1 Index1 -0.987581 -0.522661 -0.871246
       Index2  1.902818 -1.650181  1.113948
       Index3 -0.113607  0.773795 -1.707313
Group2 Index1 -0.616003 -1.144931 -1.547340
       Index2  1.436745 -0.268975  0.835511
       Index3  0.765659  1.174398  0.781010

In [22]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1 -0.987581 -0.522661 -0.871246
Index2  1.902818 -1.650181  1.113948
Index3 -0.113607  0.773795 -1.707313

In [23]:
df.loc["Group1"].loc["Index1"]

Column1   -0.987581
Column2   -0.522661
Column3   -0.871246
Name: Index1, dtype: float64

In [24]:
df.loc["Group1"].loc["Index1"]["Column1"]

-0.9875805571404944

In [25]:
df

                Column1   Column2   Column3
Group1 Index1 -0.987581 -0.522661 -0.871246
       Index2  1.902818 -1.650181  1.113948
       Index3 -0.113607  0.773795 -1.707313
Group2 Index1 -0.616003 -1.144931 -1.547340
       Index2  1.436745 -0.268975  0.835511
       Index3  0.765659  1.174398  0.781010
Group3 Index1 -0.060821  2.851500 -0.147617
       Index2  0.078122 -0.391962  0.027317
       Index3  1.794407 -1.624277  0.494795

In [26]:
df.index.names

FrozenList([None, None])

In [27]:
df.index.names = ["Groups", "Indexes"]

In [28]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1  -0.987581 -0.522661 -0.871246
       Index2   1.902818 -1.650181  1.113948
       Index3  -0.113607  0.773795 -1.707313
Group2 Index1  -0.616003 -1.144931 -1.547340
       Index2   1.436745 -0.268975  0.835511
       Index3   0.765659  1.174398  0.781010
Group3 Index1  -0.060821  2.851500 -0.147617
       Index2   0.078122 -0.391962  0.027317
       Index3   1.794407 -1.624277  0.494795

In [29]:
df.loc["Group1"]

          Column1   Column2   Column3
Indexes
Index1  -0.987581 -0.522661 -0.871246
Index2   1.902818 -1.650181  1.113948
Index3  -0.113607  0.773795 -1.707313

In [30]:
df.xs("Group1")

          Column1   Column2   Column3
Indexes
Index1  -0.987581 -0.522661 -0.871246
Index2   1.902818 -1.650181  1.113948
Index3  -0.113607  0.773795 -1.707313

In [31]:
df.xs("Group2")

          Column1   Column2   Column3
Indexes
Index1  -0.616003 -1.144931 -1.547340
Index2   1.436745 -0.268975  0.835511
Index3   0.765659  1.174398  0.781010

In [32]:
df.xs("Group2").xs("Index1")

Column1   -0.616003
Column2   -1.144931
Column3   -1.547340
Name: Index1, dtype: float64

In [33]:
df.xs("Group2").xs("Index1").xs("Column1")

-0.6160028313552618

In [35]:
df.xs("Index1", level="Indexes")

         Column1   Column2   Column3
Groups
Group1 -0.987581 -0.522661 -0.871246
Group2 -0.616003 -1.144931 -1.547340
Group3 -0.060821  2.851500 -0.147617